<h1>Listing blr_places</h1>

<table>
  <tr>
    <th>Place name</th>
    <th>Tags</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @blr_places.each do |blr_place| %>
  <tr>
    <td><%= blr_place.place_name %></td>
    <td><%= blr_place.tags %></td>
    <td><%= link_to 'Show', blr_place %></td>
    <td><%= link_to 'Edit', edit_blr_place_path(blr_place) %></td>
    <td><%= link_to 'Destroy', blr_place, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Blr place', new_blr_place_path %>
